In [17]:
import os
from itertools import groupby
import pandas as pd
import numpy as np

### Deel 1

In [58]:
df_load = pd.read_csv('/appl/homedir/prinsl5/AoC2022/aoc2022/data/Dag02_1.txt', sep = ' ', names = ['elf', 'me'])

In [59]:
df = df_load.replace(['X', 'A', 'Y', 'B' ,'Z', 'C'], [1, 1, 2, 2, 3, 3])

In [60]:
def define_score(data, column):
    conditions = [(data['elf'] == data[column]),
                  ((data['elf'] == 1) & (data[column] == 3)),
                  ((data['elf'] == 1) & (data[column] == 2)),
                  ((data['elf'] == 2) & (data[column] == 1)),
                  ((data['elf'] == 2) & (data[column] == 3)),
                  ((data['elf'] == 3) & (data[column] == 2)),
                  ((data['elf'] == 3) & (data[column] == 1))]
    values = [3, 0, 6, 0, 6, 0, 6]
    data['score'] = np.select(conditions, values)
    print('Mijn totale score is', sum(df['score'] + df[column]))

In [61]:
define_score(df, 'me')

Mijn totale score is 11063

### Deel 2

In [70]:
conditions = [((df['elf'] == 1) & (df['me'] == 1)),
              ((df['elf'] == 1) & (df['me'] == 2)),
              ((df['elf'] == 1) & (df['me'] == 3)),
              ((df['elf'] == 2) & (df['me'] == 1)),
              ((df['elf'] == 2) & (df['me'] == 2)),
              ((df['elf'] == 2) & (df['me'] == 3)),
              ((df['elf'] == 3) & (df['me'] == 1)),
              ((df['elf'] == 3) & (df['me'] == 2)),
              ((df['elf'] == 3) & (df['me'] == 3))]
values = [3, 1, 2, 1, 2, 3, 2, 3, 1]
df['choice'] = np.select(conditions, values)

In [72]:
define_score(df, 'choice')

Mijn totale score is 10349